.contact-info-header {
    display: flex;
}

.contact-info-header-h2 {
    text-align: center;
}

.contact-info-subtext {
    margin-left: auto;
    text-align: right;
}

.divider {
    border: 1px solid #222;
    border-radius: 4px;
    margin-top: 16px;
}